---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2022 - Present",
    title: "Senior Frontend Developer",
    company: "Dock Financial",
    description:
      "Analyzing, designing, and implementing a new visual interface using TypeScript, Node, Yarn PnP, and React. Led a frontend team of three, mentored developers, and managed technical aspects of client applications. Aligned deployment processes to regulatory standards and defined development processes for new services.",
    link: "https://www.dock.financial/de/",  // Assuming a company link for reference
  },
  {
    date: "April 2020 - December 2021",
    title: "Frontend Developer",
    company: "Check 24",
    description:
      "Created new features as required by business needs, modernized client-side applications with React and TypeScript, and integrated continuous delivery systems. Followed SOLID principles and UX design standards.",
    link: "https://check24.de",
  },
  {
    date: "June 2019 - April 2020",
    title: "Frontend Developer",
    company: "BlinkLearning",
    description:
      "Transitioned a classic PHP + jQuery application to a modern React interface, ensuring modularity and scalability. Implemented comprehensive unit and integration tests to maintain code quality.",
    link: "https://blinklearning.com",
  },
  {
    date: "January 2018 - April 2019",
    title: "Frontend Developer",
    company: "Dimatica Software",
    description:
      "Worked with React, Angular 6, and jQuery ES6 to develop and enhance web applications.",
    link: "https://gruposermicro.com/en/empresas/dimatica/",  // Assuming a company link for reference
  },
  {
    date: "February 2016 - April 2017",
    title: "Project Manager",
    company: "Golmap",
    description:
      "Conducted market study and financial analysis for project viability. Managed a development team based in India.",
  },
  {
    date: "February 2015 - February 2017",
    title: "Account Manager / Site Builder",
    company: "DomoWeb I.T.",
    description:
      "Handled client interactions and project definitions. Built sites using CMS platforms like Drupal, WordPress, and Joomla.",
    link: "https://domo.ec/",  // Assuming a company link for reference
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
